{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Inscriptions{% endblock %}</h3>
{% endblock %}

{% block content %}
  <table role="grid">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Naissance</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Créneau</th>
      <th scope="col">Statut</th>
      <th scope="col"></th>
    </tr>
    {% for grimpeur in grimpeurs %}
      <tr>
        <td>{{ grimpeur['name'] }}</td>
        <td>{{ grimpeur['firstname'] }}</td>
        <td>{{ grimpeur['birthdate'] }}</td>
        <td>{{ grimpeur['category'] }}</td>
        <td>{{ grimpeur['creneau'] }}</td>
        <td>{{ grimpeur['status'] }}</td>
        <td>
          <a role="button" href="{{ url_for('inscription.update', id=grimpeur['id']) }}">Modifier</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="grid">
    <a role="button" class="secondary" href="{{ url_for('inscription.create') }}">Ajouter un·e grimpeur·euse</a>
    <a role="button" href="{{ url_for('inscription.checkout') }}">Compléter l'inscription</a>
  </div>
{% endblock %}
