<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Senescribe</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main class="container">
    <nav>
      <ul>
        <li><strong>Senescribe</strong></li>
      </ul>
      <ul>
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span></li>
          <li><a href="{{ url_for('auth.logout') }}">Se déconnecter</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Créer un compte</a></li>
          <li><a href="{{ url_for('auth.login') }}">Se connecter</a></li>
        {% endif %}
      </ul>
    </nav>
    <header>
      {% block header %}{% endblock %}
    </header>
    <section class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </main>
</body>
