<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boss Snake</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='snake/style.css') }}">
    <link id="bowserImg" href="{{ url_for('static', filename='snake/BowserCastre.png') }}">
    <script src="{{ url_for('static', filename='snake/game.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
</head>
<body>

<div id="game_block">
    <div id="game_over" class="hidden">
        <div id="game_over_score" class="game_over">
            <p>Score = <span id="end_score">0</span></p>
        </div>
        <div id="game_over_text" class="game_over">
            <p>
                GAME OVER
            </p>
        </div>
    </div>
    <p id="score_block">
        SCORE: <span id="score">0</span>
    </p>
    <canvas id="game_canvas" width="600" height="600"></canvas>
</div>
</body>
</html>
